<ul class="nav nav-pills nav-fill" th:fragment="botones">
  <li class="nav-item">
    <a class="nav-link active" href="#" th:href="@{/}">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" th:href="@{/about}">Acerca de...</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#" th:href="@{/admin/crear}">Crear admin</a>
  </li>
  <li class="nav-item">
   <a class="nav-link" aria-current="page" href="#" th:href="@{/pedido/crear}">Crear pedido</a>
  </li>
  
</ul>